/*  ^ button  ====================== --*/












/*  ^ Position absolute  100-100  0-0  ====================== --*/
@mixin posa100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*  ^ flex row center  ====================== --*/
@mixin fwrcc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin fnrcc {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*  ^ flex column center  ====================== --*/
@mixin fwccc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin fnccc {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}